@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

html {
    width: 100vw;
    height: 100vh;
    font-size: 62.5%;
    overflow-x: hidden;
}

/* Menu */

.content {
    width: 100vw;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(219, 191, 224);
    position: fixed;    
}

.content .logo a{
    width: 70px;
    height: auto;
    display: flex;
    align-items: center;
}

.content .logo a img {
    width: 100%;
    height: 100%;    
    border-radius: 10px;
}

.content .logo h3 {
    color: white;
    font-size: 1.6rem;    
}


.content .list-menu {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content .list-menu li a {
    padding: 3rem 1rem 2rem 1rem;
    color: rgb(255, 255, 255);
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 500;
    transition: all 200ms ease-in;
}

.content .list-menu li a:hover {
    background-color: #3333;
    border-bottom: 4px solid white;
    color: rgb(110, 43, 86);
}


/* First-section */

.first-section {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(rgba(29,29,29,0.8),rgba(29,29,29,0.8)),url(/imagens/gabiParto.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first-section .first-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

.first-section h1 {
    color: rgb(219, 191, 224);
    font-size: 2.9rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.btn button {
    width: 270px;
    height: 70px;
    cursor: pointer;
    text-transform: uppercase;
    background-color: rgb(149, 129, 153);
    border-radius: 10px;
    color: white;
    font-weight: 700;
    margin-top: 5rem;
    font-size: 2rem;
    transition: all 300ms ease-in;
}

.btn button:hover {
    border: 1px solid white;
    background-color: transparent;
    color: white;
}

/* SOBRE MIM */

.sobre-mim {
    background-color:  white;
    padding-bottom: 5rem;
    color:  rgb(149, 129, 153);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 100vw;
}

.content-sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main {
    display: flex;
    justify-content: space-between;
}

.sobre-mim img {
    width: 400px;
    height: 400px;
    margin-top: 10rem;
    margin-left: 10rem;
    border: 2px solid white;    
    border-radius: 10%;
}

.content-sobre h2{
    font-size: 6rem;
    margin-bottom: 1rem;
    font-family: 'Roboto', sans-serif;
}

.content-sobre p {
    text-align: justify;    
    font-size: 1.8rem;
    width: 600px;
}


/* DESTAQUES */

.container-destaques {    
    width: 100vw;
    height: 80vh;    
    position:relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container-destaques img {
    max-width: 100px;
    height: 100px;
    transition: 0.5s;
    border-radius: 5px;
    margin-top: 10px;    
}

.container-destaques .card {
    position: relative;
    cursor: pointer;
}

.container-destaques .card .face {
    width: 20vw;
    height: 40vh;
    transition: 0.5s;
    border-radius: 5px;
}

.container-destaques .card .face.face1 {
    position: relative;
    background-color: #91e8f1;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 20px 50px rgba(0,0,0, 0.3);
    border-radius: 15px;
    z-index: 1;
    transform: translateY(200px);
}

.container-destaques .card:hover .face.face1 {
    background: rgb(219, 191, 224);
    transform: translateY(0);
}

.container-destaques .card:hover .face.face1 {
    opacity: 0.5;
    transition: 0.5s;
}

.container-destaques .card:hover .face.face1 .content-destaque {
    opacity: 1;
}

.container-destaques .card .face.face1 .content-destaque  img{
    max-width: 100px;
}

.container-destaques .card .face.face1 .content-destaque h3 {
    margin: 10px 0 0;
    color: rgb(149, 129, 153);
    text-align: center;
    font-size: 1.5em;
}

.container-destaques .card .face.face2 {
    align-items: center;
    padding: 10px;
    text-align: justify;
    color: rgb(149, 129, 153);
}

.container-destaques .card .face.face2 .content-destaque a {
    margin: 15px 0 0;
    display: inline-block;
    font-weight: 900;
    color: #333;
    padding:5px;
    border: 1px solid #333;
    transition: 0.5s;
}

.container-destaques .card .face.face2 .content-destaque a:hover {
    border-radius: 10px;
    background-color: #10536d;
    color: white;
}









footer {
    height: 25px;
    background-color:  rgb(219, 191, 224);
    color: rgb(255, 255, 255);
}

.caiologo img{
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 10px;
}

.caiologo a {
    text-transform: uppercase;    
}